.app__projects {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 6rem 15vw;
}

.project__company {
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    img {
        width: 100px;
        height: auto;
    }

    @media screen and (max-width: 900px) {
        padding-right: 0;
        padding-bottom: 2rem;
    }
}

.app__projects-list {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  
    @media screen and (max-width: 900px) {
      margin-right: 0;
      justify-content: center;
      align-items: center;
    }
  }

.app__projects-item {
    width: 100%;
    display: flex;
    margin: 1rem;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.company__jobscope {
    padding: 1rem;
}

